h1
{
    text-align: center;
    color: white;
    
}
body{
    background-size: 100%;
}
p
{
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }