body{
    background-size: 100%;
}
h1
{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
a{
    place-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }