#demo
{
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#alpha
{
    color: white;
    font-weight: 100;
    font-size: large;
    text-align: center;
}


.avatar{
    border-radius: 50%;
}
 

.common{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.one
{
    color: black;
    font-size: large;
}
.second
{
    color: white;
    font-size: medium;
}
.two

{
    color: black;
    font-size: large;
    display: flex;
    
    /* justify-content: center;
    text-align: end; */
}
.gama
{
    color:white;
    font-size: large;
    display: flex;
    text-align: end;
    justify-content: center;
    
}
#second
{
    color: black;
    font-size: large;
    text-align: left;
}
.third
{
    color: white;
    font-size: medium;
    text-align: left;
}
body
{
    background-color: grey;
}
.three
{
    color: black;
    font-size: large;
    display: flex;
    text-align:right;
    justify-content:right;
}
.beta
{
    color: white;
    font-size: medium;
    text-align: right;
}
.four
{
    color: black;
    font-size: large;
    justify-content: center;
}
.omega
{
    color: white;
    font-size: medium;
    text-align: center;
    justify-content: right;
}
.avatar1
{
    border-radius: 50%;

}

body{
    background-size: 100%;
}